@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.items{
  font-size:20px;
  color:black;
  padding-bottom: 2rem;
  text-decoration:none;
  font-family: 'Montserrat';
  margin-bottom: -1.5rem;
  margin-left: 35rem;
  display: grid;
}


.contenido2{
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  margin-left: 5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.contenido2 input#buscador{
  width: 50px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.contenido2 input#buscador::-webkit-input-placeholder {
   color: #65737e;
}
 
.contenido2 input#buscador:-moz-placeholder { 
   color: #65737e;  
}
 
.contenido2 input#buscador::-moz-placeholder {  
   color: #65737e;  
}
 
.contenido2 input#buscador:-ms-input-placeholder {  
   color: #65737e;  
}

.contenido2 .icon{
  position: absolute;
  top: 35%;
  margin-left: 3rem;
  z-index: 1;
  color: #4f5b66;
}

.contenido2 input#buscador:focus, .contenido2 input#buscador:active{
  outline:none;
  width: 300px;
}
 
.contenido2:hover input#buscador{
width: 300px;
}
 
.contenido2:hover .icon{
  color: #93a2ad;
}

html, .body1{
   padding:0px;
   margin:0px;
   background-image: url(https://static.vecteezy.com/system/resources/previews/004/686/709/non_2x/abstrack-line-waves-pattern-pastel-colorful-background-with-shapes-free-vector.jpg);
   width:100vw;
}

.body1 {
   margin:0;
   padding:0;
}


.textoinfo {
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20211023/pngtree-aesthetic-plain-background-with-pastel-colors-image_913186.png);
}


.boton {
  background-color: black;
  font-size: 1em;
  width: 10rem;
  height: 3rem;
  margin-left: 36rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.boton a {
    text-decoration: none;
    color: white;
    font-family: 'EB Garamond', serif;
}

.productosdest {
  color: black;
  font-weight: bold; 
  font-size: 2em;
  text-align: center;
  margin-right: 2rem;
  margin-top: 10%;
  font-family: 'Montserrat';
  text-align: center;
  text-shadow: 0.04em 0.04em 0.04em grey;
}


.logohome {
  margin-top: -4%;
  margin-left: 37%;
  border-radius: 10rem;
}


nav menuitem {
   position:relative;
   display:block;
   opacity:0;
   cursor:pointer;
}

.textos {
    text-decoration: none;
}

.titulo {
  text-decoration: none;
}

nav menuitem > menu {
   position: absolute;
   pointer-events:none;
   margin-right: 1%;
   margin-bottom: 3%;
}
nav > menu { display:flex; }

nav > menu > menuitem { pointer-events: all; opacity:1; }
menu menuitem a { white-space:nowrap; display:block; }
   
menuitem:hover > menu {
   pointer-events:initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
   opacity:1;
}
nav > menu > menuitem menuitem menu {
   transform:translateX(100%);
   top:0; right:0;
}


nav { 
   margin-top: 1.2%;
   margin-left: 1%;
}

nav a {
   font-family: 'Montserrat';
   background: rgb(252,243,255);
   background: linear-gradient(90deg, rgba(252,243,255,1) 0%, rgba(255,255,255,1) 100%);
   color:#800080;
   text-decoration: none;
   font-weight: bold;
   min-width:180px;
   transition: background 0.5s, color 0.5s, transform 0.5s;
   margin:0px 4px 4px 0px;
   padding:15px 50px;
   box-sizing:border-box;
   border-radius:3px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
   position:relative;
}

nav a:hover:before {
   content: '';
   top:0;left:0;
   position:absolute;
   background:rgba(0, 0, 0, 0.2);
   width:100%;
   height:100%;
}

nav > menu > menuitem > a + menu:after{
   content: '';
   position:absolute;
   border:10px solid transparent;
   border-top: 10px solid white;
   left:12px;
   top: -35px;  
}
nav menuitem > menu > menuitem > a + menu:after{ 
   content: '';
   position:absolute;
   border:10px solid transparent;
   border-left: 10px solid white;
   top: 20px;
   left:-180px;
   transition: opacity 0.6, transform 0s;
}

nav > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateY(150%);
   opacity:0;
}
nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem{
   transform:translateY(0%);
   opacity: 1;
}

menuitem > menu > menuitem > menu > menuitem{
   transition: transform 0.6s, opacity 0.6s;
   transform:translateX(195px) translateY(0%);
   opacity: 0;
} 
menuitem > menu > menuitem:hover > menu > menuitem,  
menuitem > menu > menuitem.hover > menu > menuitem{  
   transform:translateX(0) translateY(0%);
   opacity: 1;
}


* {
  margin: 0;
  padding: 0;
}

.body2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.contenido3 {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  margin-left: 5rem;
  margin-bottom: 4.7rem;
  margin-top: 1rem;
}
.contenido3 .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 20px;
}
.contenido3:hover .box {
  transform: rotateY(25deg);
}
.contenido3 .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.contenido3 .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.contenido3 .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contenido3 .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.contenido3 .box:hover .imgBx:before {
  opacity: 1;
}
.contenido3 .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenido3 .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.contenido3 .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.contenido3 .box:hover .content h2 {
  transform: translateY(0px);
}
.contenido3 .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.contenido3 .box:hover .content p {
  transform: translateY(0px);
}


.body_footer {
  line-height: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

.contenido {
    max-width: 70rem;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
    background-color: #24262b;
    margin-top: 4rem;
}

.footer-col{
    width: 15rem;
    padding: 1.5rem 0rem;

}

.footer-col{
    font-size: 1em;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 4rem;
    position: relative;
}

.footer a {
  margin-top: 0.5rem;
}

.footer-col h4::before{
    content: " ";
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    background-color: #e91e63;
    height: 0.1rem;
    box-sizing: border-box;
    width: 5rem;
}

.footer-col ul li::not(:last-child){
    margin-bottom: 1rem;
}

.footer-col ul li a{
    font-size: 1em;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 10em;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 0.9rem;
}

.footer-col .Redes-Sociales a{
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem 0.3rem 1rem 0rem;
  text-align: center;
  border-radius: 10rem;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .Redes-Sociales a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.fa{
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 0.5rem;
}

.filtro{
  display: none;
}