@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

header {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin-bottom: 40px;
	background-color:#c25d72;
	border-radius: 25px;
	text-align: center;
}

.compra {
	margin-left: 1rem;
	text-align: left;
	margin-top: 4px;
}

.perfilheader {
	margin-left: 19rem;
	
}

.perfilheader a {
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	font-family: 'Montserrat';
}

.perfilheader img {
	border-radius: 10rem;
}

#menu ul {
	list-style:none;
	margin-top: 0.2rem;
	padding:0rem;
	margin-left: 5rem;
}

#menu ul li {
	background-color:#c25d72;
}

#menu ul a {
	display:block;
	color:white;
	text-decoration:none;
	font-weight:300;
	font-size:1em;
	padding:0.4rem;
	font-family: serif;
	text-transform:uppercase;
	letter-spacing:0.1em;
	font-family: 'Montserrat';
}

#menu ul li {
	position:relative;
	float:left;
	margin:0rem;
	padding:0.2rem;
}

#menu ul li:hover {
	background:#c8c8c8;
}

#menu ul ul {
	display:none;
	position:absolute;
	top:2.7rem;
	left:0rem;
	padding:0rem;
	margin-left: 0rem;
}

#menu ul ul li {
	float:none;
	width:9rem;
}

#menu ul ul a {
	line-height:1rem;
	padding:0.5rem 0.5rem;
}

#menu ul li:hover > ul {
	display:block;
}

.titulo {
	font-family: 'Montserrat';
	margin-top: 0px;
	padding-left: 100px;
	font-size: 40px;
	width: 280%;
	text-align: center;
	color: black;
	text-shadow: 0.04em 0.04em 0.04em grey;
	margin-left: 25%;
}

.nombreproductos{
	text-align: center;
	font-family: 'Montserrat';
	font-size:100%;
	text-shadow:0.04em 0.04em 0.04em pink;
	line-height: 100%;
	color: black;
	margin: 10px;
}

.fotos{
	display: block;
	margin: 0px auto;
	padding:10px 10px 30px 10px;
    border:1px solid #BFBFBF;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.8);
    background-color: #f4f4f4;
}

body {
	background: #f2c5ff;
}

.a1 {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin: auto;
	grid-gap: 5px;
	width: 70%;
	text-align: center;
}

.precio {
	display: block;
	margin: 10px auto;
	font-size: 25px;
	color: black;
	font-family: 'Montserrat';
}

.boton {
	background-color: #c25d72;
	width: 130px;
	height: 40px;
	border-color: black;
}

.boton a{
	text-decoration: none;
	font-family: 'Montserrat';
}

.fuenteboton {
	font-size: 15px;
	color: white;
	font-weight: bold;
	font-family: 'Montserrat';
}

.claseboton {
	text-align: center;
	display: inline;
	padding-bottom: 20px;
}

.body_footer {
	line-height: 2rem;
	font-family: 'Roboto Condensed', sans-serif;
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

.contenido {
    max-width: 70rem;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
    background-color: #24262b;
    margin-top: 4rem;
    font-family: 'Montserrat';
}

.footer-col{
    width: 15rem;
    padding: 1.5rem 0rem;
}

.footer-col{
    font-size: 1em;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 2rem;
    position: relative;
}

.footer-col h4::before{
    content: " ";
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    background-color: #e91e63;
    height: 0.1rem;
    box-sizing: border-box;
    width: 5rem;
}

.footer-col ul li::not(:last-child){
    margin-bottom: 1rem;
}

.footer-col ul li a{
    font-size: 1em;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 10em;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 0.9rem;
}

.footer-col .Redes-Sociales a{
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0rem 0.3rem 1rem 0rem;
  text-align: center;
  border-radius: 10rem;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .Redes-Sociales a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.fa{
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 0.5rem;
}
